<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recommended Photos</h3>
      </div>
      <div class="panel-body">
        <% current_user.recommended.each do |photo| %>
          <%= link_to "<button class='btn btn-default'>#{image_tag photo.picture.url(:medium)}<p>#{User.find(photo.user_id).username}</p></button>".html_safe, user_path(User.find(photo.user_id)) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <% @users.each do |user| %>
          <p><%= link_to "<button class='btn btn-default'>#{image_tag user.avatar.url(:thumb)}<p>#{user.username}</p></button>".html_safe, user_path(user) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
